UsernameAssertionClient/Web References/WseSample/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://company.com/samples/wse/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://company.com/samples/wse/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://company.com/samples/wse/">
      <s:element name="CheckAccountStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAccountStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckAccountStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BankAccountSettings" type="tns:BankAccountSettings" />
      <s:complexType name="BankAccountSettings">
        <s:complexContent mixed="false">
          <s:extension base="tns:SecureSoapHeader">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PinCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SecureSoapHeader">
        <s:attribute name="SecureHeader" type="s:boolean" use="required" />
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckAccountStatusSoapIn">
    <wsdl:part name="parameters" element="tns:CheckAccountStatus" />
  </wsdl:message>
  <wsdl:message name="CheckAccountStatusSoapOut">
    <wsdl:part name="parameters" element="tns:CheckAccountStatusResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAccountStatusBankAccountSettings">
    <wsdl:part name="BankAccountSettings" element="tns:BankAccountSettings" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="CheckAccountStatus">
      <wsdl:input message="tns:CheckAccountStatusSoapIn" />
      <wsdl:output message="tns:CheckAccountStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAccountStatus">
      <soap:operation soapAction="http://company.com/samples/wse/CheckAccountStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CheckAccountStatusBankAccountSettings" part="BankAccountSettings" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAccountStatus">
      <soap12:operation soapAction="http://company.com/samples/wse/CheckAccountStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CheckAccountStatusBankAccountSettings" part="BankAccountSettings" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:2045/UsernameAssertionService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:2045/UsernameAssertionService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>